@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600&display=swap');

:root{
    --color-primary: #1e5afa;
    --color-secondary: rgba(0,0,240,0.2);
    --color-white: #fff;
    --color-light: #f4f4f4;
    --color-dark: #575757;
    --color-black: #000f37;

    --bottom-section-padding: 12rem;
    --bottom-section-padding: 8rem;

    --transition: all 400ms ease;

    --container-width:84%;
    --container-width-tablet:90%;
    --container-width-phone:94%;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: var(--color-black);
    line-height: 1.7;
    background-color: var(--color-white);
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

h1 {
    font-size: 5.6rem;
    line-height: 1;
    color: var(--color-primary);
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

.lead {
    width: 63%;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 1.5rem auto 3rem;
}

a {
    color: var(--color-secondary);
    font-weight: 300;
    color: var(--color-light);
}

a:hover {
    color: var(--color-light);
}

img {
    width: 100%;
}

.button {
    display: inline-block;
    padding: 1rem 2.3rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-weight: 500;
    border: 1px transparent;
    border-radius: 15px;
    transition: var(--transition-button);
}

    /* BTN */
.btn {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--color-primary);
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: var(--color-light);
    border: 1px solid var(--color-primary);
  }
  
  .btn:active {
    color: #666;
  }
  
  .btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: var(--color-secondary);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  
  .btn:hover {
    color: var(--color-light);
    border: 1px solid var(--color-light);
  }
  
  .btn:hover:before {
    top: -35%;
    background-color: var(--color-primary);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    border-color: var(--color-black);
  }
  
  .btn:hover:after {
    top: -45%;
    background-color: var(--color-primary);
    border-color: var(--color-black);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  /* END OF BTN */

    /* PRIMARY BUTTON */
    .btn-primary {
        display: inline-block;
        transition: all 0.2s ease-in;
        position: relative;
        overflow: hidden;
        z-index: 1;
        color: var(--color-light);
        padding: 0.7em 1.7em;
        font-size: 18px;
        border-radius: 0.5em;
        background: var(--color-black);
        border: 2px solid var(--color-secondary);
      }
      
      .btn-primary:active {
        color: var(--color-light);
      }
      
      .btn-primary:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleY(1) scaleX(1.25);
        top: 100%;
        width: 140%;
        height: 180%;
        background-color: var(--color-black);
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
      }
      
      
      .btn-primary:hover {
        background-color: var(--color-light);
        border: 1px solid var(--color-black);
      }
      
      .btn-primary:hover:before {
        top: -35%;
        background-color: var(--color-black);
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        border-color: var(--color-light);
      }
      
      .btn-primary:hover:after {
        top: -45%;
        background-color: var(--color-light);
        border-color: 2px solid var(--color-black);
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      }

  /* END OF PRIMARY BUTTON */

  /* SECONDARY BUTTON */
  .btn-secondary {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--color-light);
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: var(--color-primary);
    border: 2px solid var(--color-secondary);
  }
  
  .btn-secondary:active {
    color: var(--color-light);
  }
  
  .btn-secondary:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  
  .btn-secondary:hover {
    background-color: var(--color-light);
    border: 1px solid var(--color-primary);
  }
  
  .btn-secondary:hover:before {
    top: -35%;
    background-color: var(--color-primary);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    border-color: var(--color-light);
  }
  
  .btn-secondary:hover:after {
    top: -45%;
    background-color: var(--color-light);
    border-color: 2px solid var(--color-primary);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  /* END OF SECONDARY BUTTON */

.avatar {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    overflow: hidden;
}

section {
    max-width: 100vw;
    padding-bottom: var(--bottom-section-padding);
}

/* NAVBAR STYLE */

.navbar {
    width: 100vw;
    height: 6rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--color-primary);
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.navbar_items {
    display: flex;
    gap: 3rem;

}

/* .navbar_logo {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
} */

.navbar_signin-signup {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar_logo {
    font-size: 1.7rem;
    color: var(--color-light);
}

.btn_navbar {
    color: var(--color-white);
    text-decoration: none;
    border: none;
    background: none;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }
  
.btn_navbar::before {
    margin-left: auto;
}
  
.btn_navbar::after, .btn_navbar::before {
    content: '';
    width: 0%;
    height: 1px;
    background: var(--color-light);
    display: block;
    transition: 0.5s;
}
  
.btn_navbar:hover::after, .btn_navbar:hover::before {
    width: 100%;
}

/* HEADER */

header {
    background: url(images/header\ bg.jpg) no-repeat top center/100vw;
    max-width: 100vw;
    text-align: center;
    padding-bottom: var(--bottom-section-padding);
}

.header_title {
    padding-top: 12rem;
    color: var(--color-light);
}
.header_title:hover {
    padding-top: 12rem;
    color: var(--color-black);
}

header p {
    color: var(--color-light);
    margin-bottom: 0;
}

.header_image {
    width: 92%;
    margin: 0 auto;
}

.cta{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.cta a {
    align-items: center;
    display: flex;
    gap: 1rem;
    text-align: left;
}

.cta .logo {
    width: 30px;
    height: 30px;
}

.header_socials  {
    color: var(--color-primary);
    position: absolute;
    left: 3rem;
    top: 38%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.header_socials a {
    color: var(--color-light);
}

.header_socials a:hover {
    color: var(--color-black);
}

.header_decoration-1 {
    position: absolute;
}
.header_decoration-2 {
    position: absolute;
    right: 0;
    margin-top: -24rem;
}

/* ABOUT */

.about_title {
    text-align: center;
    margin-bottom: 5rem;
    color: var(--color-black);
}

.about_article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
    margin-top: 3rem;
}

.about_article-title {
    color: var(--color-black);
    margin-bottom: 1.5rem;
}

.btn-about {
    margin-top: 2.4rem;
}

/* END OF ABOUT */

/* CLIENTS */
#clients {
    text-align: center;
}

.clients_title {
    color: var(--color-black);
}

.clients_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.clients_container div {
    background: var(--color-light);
    display: grid;
    place-items: center;
    height: 8rem;
    padding: 3rem;
    transition: all 300ms ease;
}

.clients_container div:hover {
    background: var(--color-white);
}
/* END OF CLIENTS */

/* TESTIMONIALS */
#testimonials h1 {
    text-align: center;
    color: var(--color-black);
}

.testimonials_container {
    display: grid;
    gap: 1.4rem;
    grid-template-columns: 1fr 1fr ;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    background: var(--color-light);
    padding: 3rem;
    font-size: 0.90rem;
    border: 1px solid transparent;
    transition: all 300ms ease;
}

.testimonial:hover {
    background: var(--color-white);
    border-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* END OF TESTIMONIALS */

/* FAQS */

#faqs h1 {
    text-align: center;
    margin-bottom: 4rem;
    color: var(--color-black);
}

.faqs_container {
    width: 44%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faq {
    background-color: var(--color-light);
    padding: 2rem;
    display: flex;
    gap: 1rem;
    border: 1px solid #ddd;
    cursor: pointer;
}

.faq:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.faq_icon i {
    font-size: 1.4rem;
    font-weight: 200;
}

.faq_question {
    font-size: 1.2rem;
    font-weight: 500;
}

.faq_answer {
    margin-top: 1rem;
    display: none;
}

.faq.open {
    border-color: var(--color-primary);
    color: var(--color-primary);
    box-shadow: 0 2rem 2rem var(--color-dark);
    z-index: 1;
}

.faq.open .faq_answer {
    display: block;

}
/* END OF FAQS */

/* DOWNLOAD APP */

#downloadApp h1 {
    color: var(--color-black);
}
.downloadApp_container {

    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.downloadApp_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cta_download {
    justify-content: start;
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.cta_download a {
    align-items: center;
    display: flex;
    gap: 1rem;
    text-align: left;
}

.cta_download .logo {
    width: 30px;
    height: 30px;
}
/* END OF DOWNLOAD APP */


/* SUBSCRIBE SECTION */
.subscribe_container {
    background: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    padding: 4rem;
    height: 20rem;
    border-radius: 2rem;
}

.subscribe_text p {
    margin-top: 1.4rem;
    width: 80%;
    margin-bottom: 1.4rem;
}

/* END OF SUBCRIBE SECTION */


/* FOOTER SECTION */
footer {
    background: var(--color-primary);
    padding-top: 5rem;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
}



.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 5rem;
    color: white;
}

.footer_container > div h4 {
    margin-bottom: 1.6rem;
    color: white;
}

.footer_logo{
    width: 6rem;
    font-size: 1.7rem;
    font-weight: 600;
}

.footer_1 > p {
    margin: 1rem 0 2rem;
    width: 20rem;
}

.footer_subscribe {
    background: transparent;
    border: 1px solid var(--color-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 80%;

}

.footer_subscribe input {
    background: transparent;
    color: var(--color-white);
    margin-left: 1rem;
}

.footer_subscribe input::placeholder {
    color: var(--color-light);
}

.footer_subscribe button {
    background: var(--color-white);
    color: var(--color-black);
    transition: all 300ms ease;
    width: 3rem;
    height: 100%;
    font-size: 1.2rem;
}

.footer_subscribe button::hover {
    background: var(--color-light);
    color: var(--color-primary);
    cursor: pointer;
}

footer ul li {
    margin-bottom: 1rem;
}

footer ul li a::hover {
    color: var(--color-light);
    text-decoration: underline;
}

.footer_4 p {
    margin-bottom: 1.5rem;
}

.footer_socials {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

.copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem;
    color: var(--color-white);
    border-top: 1px solid var(--color-light);
}

/* MEDIA QUERIES TABLET */

@media screen and (maxwidth: 1024px) {
    .container {
        width: var(--container-width-tablet);
    }
    
    h1 {
        font-size: 4.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.9rem;
    }

    .lead {
        width: 72%;
        margin-bottom: 3rem;
    }

    section {
        padding-bottom: var(--bottom-section-padding);
    }

    /* NAVBAR */
    nav {
        background: var(--color-primary);
    }

    .navbar_container {
        position: relative;
        width: 100vw;
    }

    .navbar_logo {
        margin-left: 2rem;
        position: relative;
    }

    .navbar_items {
        position: fixed;
        top: 6rem;
        right: 0;
        background: var(--color-white);
        height: max-content;
        width: 18rem;
        box-shadow: -2rem 2rem 3rem rgba(0, 0, 0, 0.2);
        flex-direction: column;
        gap: 0;
        z-index: 3;
    }

    .navbar_items li {
        width: 100%;
        height: 6rem;
    }

    .navbar_items li a {
        width: 100%;
        height: 100%;
        display: flex;
        padding-left: 3rem;
        align-items: center;
    }
}